
.navLogo {
    width:343px;height:36px;
}

nav .borderBox {
    /* width:350px;height:380px; */
    width:100%;height:54px;
    padding:0;margin:0;
    flex-direction: row;
}
nav .search input{
    background-color:#FAFAFA;
    border:1px solid #DBDBDB;
    border-radius: 3px;
    box-sizing: border-box;
    width:215px;height:28px;
}
nav .search input:focus{
    outline:none;
}