nav .menu .menuList {
    /* width:80%; */
    display:flex;
    align-items: center;
}
nav .menu .menuList > * {
    margin-left:20px;
}

nav .modal {
    background-color:red;
    opacity: 0.1;
    position: absolute;
    top:0;bottom:0;left:0;right:0;
    display:fixed;
}

nav .modalContentParent {
    position: relative;
}
nav .modalBoxDeco {
    /* border : 1px solid #fff; */
    background-color:#fff;
    box-shadow:0 0 5px 1px rgba(var(--jb7,0,0,0),.0975);
    width:14px;height:14px;
    position: absolute;
    top:6px;
    transform:rotate(45deg);
}
nav .modalContent {
    background-color:#fff;
    position: absolute;
    right:-20px;top:14px;
    box-shadow:0 0 5px 1px rgba(var(--jb7,0,0,0),.0975);
    border-radius: 6px;
    width:230px;height:194px;
}