a {text-decoration: none; color:#000;}
.ReFo {
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:35px;
    margin-bottom:35px;
}
.borderBox {
    /* width:350px;height:380px; */
    width:348px;
    background-color:#fff;
    border:1px solid #DBDBDB;
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-bottom:10px;
    padding-bottom:27px;
}
.ReFo .ReFo-logo{
    margin-top:15px;
    /* margin-bottom: 20px;; */
}
.regiIntro {
    color:#8e8e8e;
    font-size:17px;
    font-weight:600;
    text-align: center;
    margin:0 40px 10px 40px;
}
.borderBox form {
    box-sizing: border-box;
}


/* email, pw input  */

.inputText{
    position: relative;
}
.inputText label{
    position: absolute;
    font-size:12px;
    color:#8e8e8e;
    left:8px;top:10px;
    pointer-events: none; /* label 드래그안되게하는옵션! */
    transition: top 0.2s ease;
}

.inputText input:focus{
    outline:none;
    border-color:#acabab;
}
.inputText input:valid{
    padding-top:9px;
}
.inputText input:valid +  label{
    font-size: 8px;
    top:2px;
}

.inputText input{
    background-color:#FAFAFA;
    width:258px;height:36px;
    border:1px solid #DBDBDB;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom:6px;
    padding-left:8px;
}
/* login button */
.borderBox .btn {
    box-sizing: border-box;
    width:258px;height:30px;
    background-color:#B8DDFB;
    border-style: none;
    border-radius: 4px;
    color:#fff;
    margin-top:8px;
    font-size:15px;
    font-weight: 700;
}

.or{
    margin:13px 40px 18px;
    display: flex;
}
.s311c {
    position: relative;
    background-color:#dbdbdb;
    height: 1px;
    width:100px;
    top:10px;
    flex-grow:1;
    flex-shrink: 1;
}
.orText {
    color:#8e8e8e;
    flex-grow:0;
    flex-shrink: 0;
    margin:0 15px;
    font-weight :600;
}
.policy {
    color:#8e8e8e;
    font-size:12px;
    text-align:center;
    margin:10px 40px;
}
.policy a {
    color:#8e8e8e;
    font-weight: bold;
}

.downApp {
    display:flex;
    flex-direction: column;
    width:350px;
     justify-items: center;
}
.downApp p {
    text-align: center;
}
.downImg {
    display:flex;
    justify-content: center;
     margin-top:10px;
}
.downImg img {
    height:40px;
    margin-right:8px;
}
