.container {
    position: relative;
}
.changeImg img{
    position: absolute;
    top:83px;
    left:112px;
}
.basicImg {
    position:absolute;
    opacity:0;
    visibility: hidden;
}
.nowImg, .nextImg{
    opacity:1;
    visibility: visible;
}
.nextImg{
    transition:opacity 2s ease-in;
    z-index:2;
}